NODE_ENV=development
PRISMA_ENDPOINT=http://localhost:4466
PRISMA_SECRET=
PRISMA_MANAGEMENT_API_SECRET=
APP_SECRET=
API_PORT=3001
DASHBOARD_URL=http://localhost:3000
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=